# Fake Banknotes Classification

## Import Libraries

In [2]:
from matplotlib import pyplot as plt

import pandas as pd
import numpy as np
import seaborn as sns

## Load Dataset

In [3]:
df = pd.read_csv("BankNoteAuthentication.csv")

## Exploratory Data Analysis (EDA)

In [4]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
df.tail()

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [6]:
df.shape

(1372, 5)

## References

1. BankNote Authentication UCI
    - https://www.kaggle.com/datasets/shantanuss/banknote-authentication-uci

2. Implement SVM in Python to Detect Fake Banknotes
    - https://www.youtube.com/watch?v=CBUnXpqOUzc&t=3s